@charset "utf-8";

/* 背景　バックグラウンドイメージ */
/* body {
 background-image: url(../images/background.jpg);
 background-repeat: repeat;
 background-color: rgba(255, 255, 255, 0.57);
 background-blend-mode: screen;
 background-size: 700px;
} */


/*全体 共通部分 */

#concept,
#profile,
#works,
#special-thanks{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
}

/* ロゴ　共通部分 */
#profile h2,
#works h2{
  position: relative;
  margin-top: 280px;
}
#profile h2 img,
#works h2 img{
  width: 266px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
#profile h2 p,
#works h2 p{
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 40px;
}

/* ヘッダー */
/* ナビゲーションメニュー */
/* #header picture img{
  width: 368px;
}
h1 picture .header__logo-sp{
  width: 200px;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  margin-top: 5.12445%;
  padding-left: 2%;
  padding-right: 3%;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
}
.header_nav ul{
  display: flex;
  gap: 40px;
  font-size: 16px;
}
.header_nav ul li{
  line-height: 1.5;
} */

/* ヘッダー1100ｐｘ以下はここから読み込み */
/* @media screen and (max-width:1100px){
#header picture img{
  width: 150px;
}
} */
/* メインビジュアル */

/* コンセプト */
#concept{
  margin: 0 auto;
}
.concept__image{
  width: 650px;
}
.concept__wrapper{
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  align-items: end;
  position: relative;
  /* padding-top: 154px; */
  padding-top: 28%;
  /* padding-left: 30px; */
  /* padding-bottom: 280px; */
}
.concept__image-window{
  width: 50%;
  position: absolute;
  right: 0;
  z-index: -1;
}
.concept__text{
  margin-top: 127px;
  font-size: 1.25rem;
  font-style: Yu Gothic Pr6N R;
  line-height: 2.1;
  letter-spacing: 0.04em;
}


/* プロフィール */ 
#profile{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}

.portrait__wrapper{
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 4%;
  max-width: 1000px;

}
.portrait__wrapper{
}

.frame {
  position: absolute;
  width: 44%;
  
}
.frame img{
  width: 400px;
}

.portrait{
  margin-left: 16px;
}
.portrait img{
  width: 370px;
}
.text__wrapper{
  font-size: 30px;
} 
.text__wrapper .name{
  font-size: 1.875rem;
  margin-bottom: 60px;
}
#profile .text{
  font-size: 1.0625rem;
  line-height: 2.117;
}


/* works */

/* 共通部分 */
#works .works-hairsalon,
#works .works__item-burger,
#works .works__spring-sale-banner,
#works .works__item-workers,
#works .works__trip-banner,
#works .works__cafe{
  width: 310px;
  height: 184px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 2.5px 2.5px 10px #e6e6e6; 
  text-align: center;
  align-items: center;
  margin-bottom: 22px;
}
#works ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1%;
}
#works ul li{
  margin-bottom: 128px;
} 
#works a{
  font-size: 17px;
  margin-bottom: 130px;
}

/* hair salon */
#works .works-hairsalon img,
#works .works__item-workers img,
#works .works__cafe img{
  width: 78%;
  margin-top: 10%;
}

/* burger banner */
.works__item-burger {
  display: flex;
  align-items: center;
  padding: 4%;
  gap: 1.5%;

}
.works__item-burger img{
  height: 61%;
}
/* spring sale */
#works .works__spring-sale-banner img{
  width: 64%;
  margin-top: 8.5%;
}
/* trip banner */
#works .works__trip-banner img{
  width: 50%;
  margin-top: 5%;
  }

  /* special thanks */
#special-thanks .special-thank__wrapper img{
width: 94%;
text-align: center;
box-shadow: 2.5px 2.5px 10px red; 
}
#special-thanks .special-thanks__wrapper{
  position: relative;
}
#special-thanks h2{
  position: absolute;
  z-index: 2;
  margin-top: 100px;
  margin-left: 40px;
  font-size: 41px;
  font-weight: 400;
}
#special-thanks h2 img{
  width: 313px;
  position: absolute;
  top: 24px;
  z-index: -1;
}

/* フッター */
/* footer .back-to-top_button{
  min-width: 100%;
  text-align: right;
  padding: 145px 25px 160px 0;
} */
/* ヘッダー */
/* ナビゲーションメニュー */
/* footer picture img{
  width: 368px;
}
footer picture .footer__logo-sp{
  width: 200px;
}
footer .footer__inner{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 2%;
  padding-right: 3%;
  margin-bottom: 70px;
  align-items: center;
  z-index: 100;


}
footer nav ul{
  display: flex;
  gap: 40px;
  font-size: 16px;
}
footer nav ul li{
  line-height: 1.5;
} */

/* フッター1100ｐｘ以下はここから読み込み */
/* @media screen and (max-width:1100px){
footer picture img{
  width: 150px;
}
}
footer .footer__img{
  width: 100%;
  position: relative;
}
footer .footer__img p{
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 30px;
  align-items: center;
} */