@charset "utf-8";
body{
  padding-top: 120px;
}
/* 共通部分 */
#main-visual,
#display-image{
  max-width: 1000px;
  margin: 0 auto;
  padding:0 30px;
}
#main-visual h2{
  position: relative;
  margin-top: 85px;
  margin-bottom: 45px;
}
#main-visual h2 img{
  width: 266px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
#main-visual  h2 p{
  font-size: 4.5rem;
  font-weight: 400;
  margin-bottom: 40px;
}
#main-visual .img-wrapper{
width: 100%;
height: 62%;
margin: 0 auto;
text-align: center;
background-color: white;
border-radius: 5px;
background-color: #ffffff;
box-shadow: 2.5px 2.5px 10px #ddd9d9;
}

/* hairsalon design-cafe workers 共通 */
#main-visual .img-wrapper img{
  width: 78.467%;
  padding-top: 5%;
}
#main-visual .title{
  font-size: 27px;
  margin-bottom: 40px;
}
#main-visual ul{
  max-width: 700px;
  margin: 60px auto 126px;
}
#main-visual ul li{
  display: flex;
  padding: 40px 0px;
  align-items: center;
  border-bottom: solid #c7c5c4 0.25px;
}
#main-visual ul li .subtitle{
  width: 130px;
  font-size: 16px;
  font-weight: bold;
}
#main-visual ul li .text{
  font-size: 16px;
  line-height: 1.8;
}
#display-image ul{
  display: flex;
  gap: 3%;
}
#display-image ul li .display-image__pc img{
  width: 70%;
}
#display-image ul li .display-image__sp img{
  width: 18%;
}